<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center footer-wrapper">
            <div class="col-lg-2 offset-lg-1 col-12 mb-lg-0 mb-4 d-flex justify-content-ld-start justify-content-center">
                <img src="/images/logo/logo.svg" alt="logo">
            </div>
            <div class="col-lg-3 col-xl-2 col-12 mb-lg-0 mb-4 d-flex flex-column align-items-center footer-phone">
                <a class="f-17 mb-3" href="#">+7-960-987-09-54</a>
                <a class="f-17" href="#">+7-960-987-09-54</a>
            </div>
            <div class="col-xl-2 col-lg-1 col-12 d-flex justify-content-xl-center justify-content-lg-start justify-content-center">
                <a href="#"><img src="/images/icons/up-arrow.svg" alt="to-up"></a>
            </div>
            <div class="col-lg-4 col-12 mb-lg-o mt-3 mt-lg-0 d-flex flex-column footer-wrapper-address">
                <div class="footer-address mb-3 f-17 text-center text-lg-start">
                    <img src="/images/icons/GPS-footer.svg" alt="location" width="12px" height="18px">
                    г. Новосибирск, ул. Народная, д.3, офис 225
                </div>
                <a href="#" class="f-17 text-center text-lg-start">Email: email@email.ru</a>
            </div>
            <div class="col-12 footer-copyright f-17 text-center">
                2022 © Copyright
            </div>
        </div>
    </div>
</footer>