<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center footer-wrapper">
            <div class="col-lg-4 col-12 mb-lg-o mb-4 d-flex justify-content-center">
                <img src="/images/logo/logo.svg" alt="logo">
            </div>
            <div class="col-lg-4 col-12 mb-lg-o mb-4 d-flex flex-column align-items-center footer-phone">
                <a class="f-17 mb-3" href="#">+7-960-987-09-54</a>
                <a class="f-17" href="#">+7-960-987-09-54</a>
            </div>
            <div class="col-lg-4 col-12 mb-lg-o d-flex flex-column align-items-center footer-wrapper-address">
                <div class="footer-address mb-3 f-17 text-center">
                    <img src="/images/icons/GPS-footer.svg" alt="location" width="11px" height="18px">
                    г. Новосибирск, ул. Народная, д.3, офис 225
                </div>
                <a href="#" class="f-17">Email: email@email.ru</a>
            </div>
            <div class="col-12 footer-copyright f-17 text-center">
                2022 © Copyright
            </div>
        </div>
    </div>
</footer>