<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="row align-items-center navbar-contacts-wrapper">
            <div class="col-lg-6 col-12 offset-lg-1 offset-0 navbar-contacts d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center mt-2 mb-2">
                <div class="navbar-contacts__address f-15 fw-bold d-flex align-items-sm-center align-items-start text-sm-start text-center">
                    <img class="me-2" src="/images/icons/GPS.svg" alt="location">
                    г. Новосибирск, ул. Народная, д.3, офис 225
                </div>
                <div class="navbar-contacts__mail f-15 fw-bold">email@email.ru</div>
            </div>
            <div class="col-12 navbar-contacts__phone d-md-none d-flex justify-content-center mt-2 mb-2">
                <a class="f-15 fw-bold mb-2 me-2" href="">+7-960-987-09-54</a>
                <a class="f-15 fw-bold" href="">+7-960-987-09-54</a>
            </div>
            <form class="col-lg-4 p-0 col-12 navbar-search d-flex">
                <input id="search" class="navbar-search__input" type="search" placeholder="Поиск" aria-label="Поиск">
                <div class="navbar-result-block position-absolute">
                    <ul id="navbar-result-list" class="list-unstyled my-auto">
                        <li><a href="#wheeler">Колесоотбойники</a></li>
                        <li><a href="#pits">Приямки</a></li>
                        <li><a href="#railing">Перильное ограждение</a></li>
                        <li><a href="#gates">Заборы и калитки (уличное ограждение)</a></li>
                        <li><a href="#frenchBalconies">Французские балкончики</a></li>
                        <li><a href="#anchors">Анкерные группы</a></li>
                        <li><a href="#rebar">Изделия из арматуры</a></li>
                        <li><a href="#porch">Крыльцо</a></li>
                        <p>Ничего не найдено</p>
                    </ul>
                </div>
            </form>
        </div>
    </div>

    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-lg-11 col-12 offset-lg-1 offset-0 d-flex justify-content-lg-center justify-content-sm-around justify-content-between">
                    <a class="my-auto navbar-brand" href="/"><img src="/images/logo/logo.svg" alt="logo"></a>
                    <div class="navbar-nav w-100 d-flex flex-sm-row flex-column justify-content-sm-around justify-content-center align-items-center">
                        <a class="nav-link f-15 text-md-start text-center" href="/">Главная</a>
                        <a class="nav-link f-15 text-md-start text-center" href="/about">О компании</a>
                        <a class="nav-link f-15 d-md-flex d-none" href="#">+7-960-987-09-54</a>
                        <a class="nav-link f-15 d-md-flex d-none" href="#">+7-960-987-09-54</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>