<section class="header">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-11 col-sm-8 offset-lg-1 offset-sm-1 col-12 offset-0 p-0 f-50 fw-bold header-title">ООО РЁРИХ</div>

            <div class="col-sm-4 col-12 offset-sm-1 offset-0 f-17 header-subtitle p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
    </div>
</section>

<section class="advantages-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center f-35 fw-bold advantages-title">Наши преимущества</div>
            <div class="col-lg-4 col-6 me-sm-3 me-0 mb-3 advantages d-flex align-items-center">
                <img src="/images/icons/advantages1.svg" alt="advantages-icon">
                <div class="advantages-description">
                    <div class="advantages-description-title f-24 fw-bold">Сервис</div>
                    <div class="advantages-description-subtitle f-17 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 me-sm-3 me-0 mb-3 advantages d-flex align-items-center">
                <img src="/images/icons/advantages2.svg" alt="advantages-icon">
                <div class="advantages-description">
                    <div class="advantages-description-title f-24 fw-bold">Качество</div>
                    <div class="advantages-description-subtitle f-17 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 me-sm-3 me-0 mb-3 advantages d-flex align-items-center">
                <img src="/images/icons/advantages3.svg" alt="advantages-icon">
                <div class="advantages-description">
                    <div class="advantages-description-title f-24 fw-bold">Стоимость</div>
                    <div class="advantages-description-subtitle f-17 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 me-sm-3 me-0 mb-3 advantages d-flex align-items-center">
                <img src="/images/icons/advantages4.svg" alt="advantages-icon">
                <div class="advantages-description">
                    <div class="advantages-description-title f-24 fw-bold">Доступность</div>
                    <div class="advantages-description-subtitle f-17 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center f-35 fw-bold about-title">О компании</div>
            <div class="col-md-6 col-12 mb-3 d-flex justify-content-center"><img class="img-fluid" src="/images/about/about.png" alt="about"></div>
            <div class="col-md-6 col-12 f-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
</section>

<section class="license-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center f-35 fw-bold about-title">Сертификаты и лицензии</div>
            <div class="col-12 mt-5 d-sm-flex d-none">
                <div class="triple-carousel-wrapper">
                    <div id="carouselLicenseIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselLicenseIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselLicenseIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselLicenseIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                </div>
                            </div>
                        </div>
                        <button class="custom-control-prev" type="button" data-bs-target="#carouselLicenseIndicators"  data-bs-slide="prev">
                            <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="custom-control-next" type="button" data-bs-target="#carouselLicenseIndicators"  data-bs-slide="next">
                            <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-img.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-img.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/wheeler/wheeler-img.png" alt="wheeler">
            </div>
        </div>
    </div>
</section>

<section class="letters-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center f-35 fw-bold about-title">Благодарственные письма</div>
            <div class="col-12 mt-5 d-sm-flex d-none">
                <div class="triple-carousel-wrapper">
                    <div id="carouselLettersIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselLettersIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselLettersIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselLettersIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                    <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-img.png" alt="wheeler"></div>
                                </div>
                            </div>
                        </div>
                        <button class="custom-control-prev" type="button" data-bs-target="#carouselLettersIndicators"  data-bs-slide="prev">
                            <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="custom-control-next" type="button" data-bs-target="#carouselLettersIndicators"  data-bs-slide="next">
                            <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-img.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-img.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/wheeler/wheeler-img.png" alt="wheeler">
            </div>
        </div>
    </div>
</section>

<section class="contacts-wrapper">
    <div class="container">
        <div class="row"><div class="col-12 text-center f-35 fw-bold contacts-title mb-sm-0 mb-3">Наши контакты</div></div>
        <div class="row contacts">
            <div class="col-12 f-35 contacts-subtitle fw-bold text-md-start text-center">Как нас найти</div>
            <div class="col-md-6 col-12 p-sm-0 p-3 mb-md-0 mb-3 contacts-map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa1f0d57d42a2911415bbfde19e15a99f2acd65e7c811529b66c0f160c1d05af7&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div class="col-md-6 col-12 contacts-info p-sm-0 p-3 d-flex flex-column justify-content-center">
                <div class="contacts-info-title f-24 fw-bold mb-3 text-lg-start text-center">Контакты</div>
                <div class="contacts-phone d-flex flex-column">
                    <a class="mb-3 fw-bold text-lg-start text-center" href="#">+7-960-987-09-54</a>
                    <a class="mb-3 fw-bold text-lg-start text-center" href="#">+7-960-987-09-54</a>
                </div>
                <div class="contacts-mail mb-3 fw-bold text-lg-start text-center">email@email.ru</div>
                <div class="contacts-address fw-bold text-lg-start text-center">
                    <img src="/images/icons/GPS.svg" alt="location">
                    г. Новосибирск, ул. Народная, д.3, офис 225
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center f-35 fw-bold map-title">Карта</div>
        </div>
        <div class="row align-items-center mt-lg-0 mt-md-3">
            <div class="col-md-6 col-12 order-md-1 order-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </div>
            <div class="col-md-6 col-12 order-md-2 order-1 mb-md-0 mb-3">
                <div class="map-subtitle f-24 fw-bold text-md-end text-center">Наше производство</div>
                <div class="map-img"><img class="img-fluid" src="/images/about/map.png" alt=""></div>
            </div>
        </div>
    </div>
</section>