<section class="header">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-11 col-sm-8 offset-lg-1 offset-sm-1 col-12 offset-0 p-0 f-50 fw-bold header-title">ООО РЁРИХ</div>

            <div class="col-sm-4 col-12 offset-sm-1 offset-0 f-17 header-subtitle p-0">Наша компания «Roehrich» много лет занимается изготовлением конструкций из металла любой сложности в Сибирском федеральном округе, а также в регионах России. Наш завод по обработке металлов расположен в городе Новосибирске.</div>
        </div>
    </div>
</section>

<section class="description">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-12 f-17 description-text pe-4 ps-4">
                Нами наработан большой опыт по изготовлению металлоконструкций.

                Мы занимаемся проектировкой и изготовлением по индивидуальному заказу в Новосибирске и в других регионах.

                Разрабатываем чертежи по рисункам, эскизам и фотографиям.

                У нас гибкая ценовая политика, всегда поставляем продукцию в срок.

                Работать с нами выгодно и надежно!
            </div>

            <div class="col-12 description-video p-0">
                <img class="w-100 img-fluid" src="/images/video/video.png" alt="video">
            </div>

            <div class="col-12 f-17 description-text px-4">
                Наша команда работает быстро и качественно, в наличии широкий спектр производственных линий и станков по обработке металла и изготовлению металлоизделий.


                Мы предлагаем следующие услуги:

                <strong>гидроабразивная резка металла;</strong>

                <strong>лазерная резка металла;</strong>

                <strong>фрезерные работы;</strong>

                <strong>токарные работы;</strong>

                <strong>сварочные работы;</strong>

                <strong>гибка металла;</strong>

                <strong>гибка труб и арматуры;</strong>

                <strong>плазменная резка;</strong>

                <strong>полимерная обработка.</strong>

                Для точной оценки затрат на производство продукции свяжитесь со специалистами «Roehrich». Наши сотрудники помогут Вам уточнить детали заказа и согласовать все параметры изделий.
            </div>
        </div>
    </div>
</section>

{{>products/wheeler}}

{{>products/pits}}

{{>products/railing}}

{{>products/balcony-railing}}

{{>products/gates}}

{{>products/french-balconies}}

{{>products/anchors}}

{{>products/rebar}}

{{>products/porch}}

