<section class="header">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-11 col-sm-8 offset-lg-1 offset-sm-1 col-12 offset-0 p-0 f-50 fw-bold header-title">ООО РЁРИХ</div>

            <div class="col-sm-4 col-12 offset-sm-1 offset-0 f-17 header-subtitle p-0">Наша компания «Roehrich» много лет занимается изготовлением конструкций из металла любой сложности в Сибирском федеральном округе, а также в регионах России. Наш завод по обработке металлов расположен в городе Новосибирске.</div>
        </div>
    </div>
</section>

<section class="description">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-12 f-17 description-text pe-4 ps-4">
                Нами наработан большой опыт по изготовлению металлоконструкций.

                Мы занимаемся проектировкой и изготовлением по индивидуальному заказу в Новосибирске и в других регионах.

                Разрабатываем чертежи по рисункам, эскизам и фотографиям.

                У нас гибкая ценовая политика, всегда поставляем продукцию в срок.

                Работать с нами выгодно и надежно!
            </div>

            <div class="col-12 description-video p-0">
                <img class="w-100 img-fluid" src="/images/video/video.png" alt="video">
            </div>

            <div class="col-12 f-17 description-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
</section>

<section class="wheeler">
    <div class="container-fluid">
        <div class="row wheeler-wrapper">

            <div class="col-xl-4 col-12 wheeler-videos">
                <div class="wheeler-videos__title f-35 fw-bold">Колесоотбойники <a id="wheeler"></a></div>
                <div class="wheeler-videos__description f-17">Колесоотбойники металлические для защиты зданий и различных сооружений, парковок, паркингов, стен, а также колонн и столбов  от случайного наезда автотранспорта.
                </div>
            </div>

<!--            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">-->
<!--                <div id="carouselWheelerIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">-->
<!--                    <ol class="carousel-indicators">-->
<!--                        <button type="button" data-bs-target="#carouselWheelerIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                        <button type="button" data-bs-target="#carouselWheelerIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                        <button type="button" data-bs-target="#carouselWheelerIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                        <button type="button" data-bs-target="#carouselWheelerIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>-->
<!--                    </ol>-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev" type="button" data-bs-target="#carouselWheelerIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <button class="custom-control-next" type="button" data-bs-target="#carouselWheelerIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="row wheeler-wrapper__photos">

            <div class="col-xl-4 col-12 wheeler-photos">
                <div class="wheeler-photos__description f-17">Наша компания производит колесоотбойники из труб различной длины и конфигурации, как  стандартных размеров, так и сложных форм по запросу заказчиков.
                    Колесоотбойники покрываются  качественными  красками в выбранный цвет.
                    Мы изготовим изделия по любым размерам и требованиям заказчика.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselWheelerPhotoIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWheelerPhotoIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWheelerPhotoIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWheelerPhotoIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-1.jpg" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-3.jpg" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-4.jpg" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-5.webp" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-6.webp" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-7.webp" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-8.webp" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-9.webp" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-10.webp" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-11.webp" alt="wheeler"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselWheelerPhotoIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselWheelerPhotoIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-1.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-2.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-4.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-5.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-6.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-7.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-8.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-9.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-10.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-11.webp" alt="wheeler">
            </div>
        </div>
    </div>
</section>

<section class="pits">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 pits-title f-35 fw-bold">Приямки <a id="pits"></a></div>

            <div class="col-12 pits-description">Наша компания занимается изготовлением козырьков над приямками. Мы работаем в сжатые сроки, изделия производятся из высококачественных материалов.


                Приямок представляет собой углубление рядом с фундаментом либо цоколем здания, необходимое для того, чтобы солнечный свет попадал в подвальное помещение. Козырек над приямком защищает нижнее помещение от попадания дождя, снега, мусора. Качественно выполненный защитно-декоративный козырек защищает окна , а также от муханических повреждений.</div>

            <div class="col-12 p-0 fll-carousel-wrapper">
                <div id="carouselPitsIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
<!--                    <ol class="carousel-indicators">-->
<!--                        <button type="button" data-bs-target="#carouselPitsIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                        <button type="button" data-bs-target="#carouselPitsIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                        <button type="button" data-bs-target="#carouselPitsIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                    </ol>-->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits">
                            </div>
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
<!--                    <button class="custom-control-prev" type="button" data-bs-target="#carouselPitsIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <button class="custom-control-next" type="button" data-bs-target="#carouselPitsIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
                </div>
            </div>
        </div>

        <div class="row pits-photos">

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselPitsTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPitsTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPitsTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPitsTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-2.webp" alt="pits"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-3.webp" alt="pits"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-4.webp" alt="pits"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-5.webp" alt="pits"></div>
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
                            </div>
                        </div>
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselPitsTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselPitsTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>

            <div class="horizontal-scroll d-sm-none d-flex">
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/pits/pits-1.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/pits/pits-2.webp" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/pits/pits-3.webp" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/pits/pits-4.webp" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box">
                    <img src="/images/pits/pits-5.webp" alt="wheeler">
                </div>
            </div>

            <div class="col-xl-4 col-12">
                <div class="pits-photos__description f-17">Защитно-декоративные козырьки необходимы для того, чтобы накрывать приямок подвальных помещений. Габариты и основные характеристики конструкции выбрать как при обустройстве приямка, так и непосредственно на готовом объекте.


                    Каркас козырька может быть изготовлен из стали, а также покрыт защитным составом, препятствующим образованию ржавчины. При необходимости можно выбрать и согласовать цвет декоративного козырька.


                    Крепятся козырьки приямка на бетонные элементы строения, на стены, к ограждению приямка либо комбинированным методом, который используется наиболее часто. Такое решение позволяет сделать конструкцию более устойчивой.



                    Наша компания поставляет продукцию как для индивидуальных застройщиков, так и для объектов промышленного строительства.</div>
            </div>
        </div>
    </div>
</section>

<section class="railing">
    <div class="container-fluid">

        <div class="row railing-wrapper">

            <div class="col-xl-4 col-12 railing-videos">
                <div class="railing-videos__title f-35 fw-bold">Перильное ограждение <a id="railing"></a></div>
                <div class="railing-videos__description f-17">
                    Наша компания предлагает надежные и эстетичные лестничные ограждения собственного производства.

                    Мы изготавливаем лестничные ограждения для загородных домов, жилых комплексов, объектов муниципальной и коммерческой недвижимости.

                    Мы   предлагаем стандартные  проекты, а также  разрабатываем  индивидуальные решения  с учетом требований заказчика.
                    </div>
            </div>

            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">
                <div id="carouselRailingIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselRailingIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselRailingIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselRailingIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing">
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselRailingIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselRailingIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row railing-wrapper__photos">

            <div class="col-xl-4 col-12 railing-photos">
                <div class="railing-photos__description f-17">
                    Мы изготавливаем лестничные ограждения для следующих объектов: офисные центры, магазины, коттеджные поселки, школы, многоквартирные дома, производственные предприятия, государственные учреждения.

                    Мы производим конструкции любого формата и объема, с необходимыми техническими характеристиками.<br><br>

                    Наши преимущества <br><br>

                    1. Широкий выбор ограждающих конструкций. <br><br>

                    2. Опыт и профессионализм. <br><br>

                    3. Доступная цена. <br><br>

                    4. Доставка в любой город.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselRailingTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselRailingTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselRailingTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselRailingTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselRailingTripleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselRailingTripleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-2.webp" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-3.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-4.jpg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-5.jpg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-6.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-7.jpg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-8.jpg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-9.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-10.jpg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-11.jpg" alt="railing"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-12.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-13.jpg" alt="railing"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselRailingTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselRailingTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-1.jpeg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-2.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-4.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-5.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-6.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-7.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-8.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-9.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-10.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing11.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-12.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/railing/railing-13.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>

<!--<section class="balcony-railing">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->

<!--            <div class="col-12 balcony-railing-title f-35 fw-bold">Балконные ограждения</div>-->

<!--            <div class="col-12 balcony-railing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>-->

<!--            <div class="col-12 p-0 full-carousel-wrapper">-->
<!--                <div id="carouselBalconyRailingIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <ol class="carousel-indicators">-->
<!--                        <button type="button" data-bs-target="#carouselBalconyRailingIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                        <button type="button" data-bs-target="#carouselBalconyRailingIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                        <button type="button" data-bs-target="#carouselBalconyRailingIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                    </ol>-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev" type="button" data-bs-target="#carouselBalconyRailingIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <button class="custom-control-next" type="button" data-bs-target="#carouselBalconyRailingIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row balcony-railing-photos">-->

<!--            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">-->
<!--                <div id="carouselBalconyRailingTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <ol class="carousel-indicators">-->
<!--                        <button type="button" data-bs-target="#carouselBalconyRailingTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                        <button type="button" data-bs-target="#carouselBalconyRailingTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                        <button type="button" data-bs-target="#carouselBalconyRailingTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                    </ol>-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev" type="button" data-bs-target="#carouselBalconyRailingTripleIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <button class="custom-control-next" type="button" data-bs-target="#carouselBalconyRailingTripleIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="horizontal-scroll d-sm-none d-flex">-->
<!--                <div class="horizontal-scroll-box me-2">-->
<!--                    <img src="/images/wheeler/wheeler-img.png" alt="wheeler">-->
<!--                </div>-->
<!--                <div class="horizontal-scroll-box me-2">-->
<!--                    <img src="/images/wheeler/wheeler-img.png" alt="wheeler">-->
<!--                </div>-->
<!--                <div class="horizontal-scroll-box">-->
<!--                    <img src="/images/wheeler/wheeler-img.png" alt="wheeler">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-xl-4 col-12">-->
<!--                <div class="balcony-railing-photos__description f-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="gates">
    <div class="container-fluid">

        <div class="row gates-wrapper">

            <div class="col-xl-4 col-12 gates-videos">
                <div class="gates-videos__title f-35 fw-bold">
                    Заборы и калитки
                    (уличное ограждение)
                    <a id="gates"></a>
                </div>
                <div class="gates-videos__description f-17">Металлическое барьерное уличное ограждение (забор)


                    Металлическое уличное ограждение выполняет оградительную функцию, огораживает потенциально опасный участок.


                    Металлоконструкции используются там, где нужно обеспечить безопасность при передвижении людей.
                    В их производстве применяют черную или высоколегированную сталь.


                    Уличные ограждения из металла имеют более высокую устойчивость к негативному воздействию окружающей среды.</div>
            </div>

            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">
                <div id="carouselGatesIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselGatesIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselGatesIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselGatesIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates">
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselGatesIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselGatesIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row gates-wrapper__photos">

            <div class="col-xl-4 col-12 railing-photos">
                <div class="gates-photos__description f-17">При изготовлении уличные ограждения из черного металла покрываются  специальным полимерным составом. Защищенные от коррозии они служат долго, обладают повышенной прочностью и надежностью.


                    Наша компания изготавливает стандартные ограждения, а также  реализует индивидуальные проекты заказчиков независимо от масштабности и сложности требуемых работ.


                    Наши специалисты оперативно проконсультируют по всем вопросам и помогут сделать оптимальный выбор.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselGatesTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselGatesTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselGatesTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselGatesTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselGatesTripleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselGatesTripleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-1.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-2.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-3.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-4.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-5.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-6.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-7.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-8.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-9.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-11.png" alt="gates"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-12.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-13.jpg" alt="gates"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselGatesTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselGatesTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-1.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-2.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-4.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-5.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-6.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-7.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-8.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-9.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-10.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-11.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-12.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/gates/gates-13.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>

<section class="french-balconies">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 french-balconies-title f-35 fw-bold">Французские балкончики <a id="frenchBalconies"></a></div>

            <div class="col-12 french-balconies-description">Французский балкон — это тип балкона, у которого нет собственной балконной площадки, ограждение устанавливается непосредственно в проём с наружной стороны, прямо перед дверью. Возможен также вариант с площадкой, но достаточно узкой.

                С помощью такой конструкции удается придать фасаду здания оригинальный дизайн.
            </div>
            <div class="col-12 p-0 full-carousel-wrapper">
                <div id="carouselFrenchBalconiesIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFrenchBalconiesIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselFrenchBalconiesIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselFrenchBalconiesIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies">
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselFrenchBalconiesIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselFrenchBalconiesIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row french-balconies-photos">

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselFrenchBalconiesTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-1.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-2.webp" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-3.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-4.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-5.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-6.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-7.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-8.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-9.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-10.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-11.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-12.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-13.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-14.jpg" alt="french-balconies"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>

            <div class="horizontal-scroll d-sm-none d-flex">
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-1.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-2.webp" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-3.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-4.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-5.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-6.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-7.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-8.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-9.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-10.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-11.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-12.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-13.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-14.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box">
                    <img src="/images/french-balconies/french-balconies-15.jpg" alt="wheeler">
                </div>
            </div>

            <div class="col-xl-4 col-12">
                <div class="french-balconies-photos__description f-17">В настоящее время французские балконы украшают как многоквартирные дома, так и загородные коттеджи.

                    Французские балконы улучшают естественную освещенность помещений, придают стильный внешний вид строению, обеспечивают хороший обзор.

                    Наша команда разрабатывает разнообразные проекты, как стандартные так и индивидуальные, с учетом ваши требований.  Мы готовы предложить нестандартные дизайнерские решения.

                    Мы предлагаем кованые и сварные конструкции для  французского балкона.  Металлические ограждения прочные и надежные, изделия  обработаны полимерным покрытием.</div>
            </div>
        </div>
    </div>
</section>

<section class="anchors">
    <div class="container-fluid">

        <div class="row anchors-wrapper">

            <div class="col-xl-4 col-12 gates-videos">
                <div class="anchors-videos__title f-35 fw-bold">
                    Анкерные группы
                    <a id="anchors"></a>
                </div>
                <div class="anchors-videos__description f-17">Анкерная группа — представляет собой крепежные элементы из металла. Они применяются для фиксации строительных конструкций к несущей основе.

                    К анкерной группе относятся: крепежные изделия, анкерные болты, а также связки с жесткой фиксацией. Соединение элементов анкерной группы осуществляется разными способами. Наиболее популярный метод - сварная конструкция, состоящая из металлических полос, уголков или арматуры. Также можно сделать сварное рамное сооружение либо совместить оба метода.

                    Анкерная группа применяется для:

                    ускорения строительных работ;
                    повышения прочности несущей основы;
                    обеспечения надежности крепления строительной конструкции;
                    упрощения обустройства фундамента. </div>
            </div>

            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">
                <div id="carouselAnchorsIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselAnchorsIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselAnchorsIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselAnchorsIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors">
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselAnchorsIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselAnchorsIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row anchors-wrapper__photos">

            <div class="col-xl-4 col-12 railing-photos">
                <div class="anchors-photos__description f-17">Какими характеристиками обладают анкерные группы? Прежде всего это повышенная прочность, точные геометрические параметры, что позволяет добиться ровного расстояния между концами разных шпилек.

                    Фундаментный болт – это крепежная деталь, визуально напоминающая прут. Он фиксируется в фундаменте, удерживая конструкцию. На одном конце анкерного болта расположена резьба, чтобы его можно было прикреплять к разнообразным строительным конструкциям и оборудованию.

                    Анкерные болты применяются, чтобы сделать крепление основания, а также металлоконструкций. Важно чтобы они были высокого качества, поскольку от этого зависит надежность всей конструкции.

                    Крепежные элементы – обязательный атрибут современного строительства. Они производятся по традиционной технологии, поэтому удается изготовить их в большом объеме в сжатые сроки вне зависимости от конфигурации.

                    Несмотря на то, что крепежные элементы обладают небольшими габаритами, они обеспечивают повышенную надежность и жесткость массивных конструкций.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselAnchorsTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselAnchorsTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselAnchorsTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselAnchorsTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchor-1.jpg" alt="anchors"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid object-contain" src="/images/anchors/anchor-2.jpg" alt="anchors"></div>
                            </div>
                        </div>
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselAnchorsTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselAnchorsTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/anchors/anchors.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/anchors/anchor-1.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/anchors/anchor-2.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>

<section class="rebar">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 rebar-title f-35 fw-bold">Изделия из арматуры <a id="rebar"></a></div>

            <div class="col-12 rebar-description">Арматура представляет собой соединенные друг с другом элементы. В сооружениях из железобетона арматура воспринимает на себя напряжение на растяжение. Также арматуру применяют, чтобы усилить бетонную конструкцию. Это становится возможным благодаря сцеплению их по поверхности контакта.

                Чтобы конструкция получилась максимально прочной и надежной, важно правильно подобрать вид прутьев арматуры, определиться с диаметром, знать, как крепить элементы, учитывать как форму и сечение арматуры, вид ее поверхности, а также прочность и марку бетона, величину его усадки. Особенности стальной арматуры.
                Прутья из стали являются наиболее распространенными, их производят из сплава железа и углерода. Технические характеристики прутьев определяются пропорциями данных материалов, а также тем, какие присадки добавлены при изготовлении. Также отличается и поверхность стальных прутьев: она может быть гладкой либо ребристой. Какие достоинства есть у стали? Она прочная, надежная, не деформируется под нагрузкой. Однако у этого материала есть минус: стальная арматура со временем ржавеет.</div>

            <div class="col-12 p-0 full-carousel-wrapper">
                <div id="carouselRebarIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselRebarIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselRebarIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselRebarIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar">
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselRebarIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselRebarIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row rebar-photos">

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselRebarTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselRebarTripleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselRebarTripleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--                        <button type="button" data-bs-target="#carouselRebarTripleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-1.jpg" alt="rebar"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-2.jpg" alt="rebar"></div>
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-3.jpg" alt="rebar"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar"></div>
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
                            </div>
                        </div>
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselRebarTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselRebarTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>

            <div class="horizontal-scroll d-sm-none d-flex">
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-1.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-2.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-3.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-4.jpeg" alt="wheeler">
                </div>
            </div>

            <div class="col-xl-4 col-12">
                <div class="rebar-photos__description f-17">
                    В зависимости от типа поверхности, наибольшей популярностью обладают следующие виды арматуры: <br><br>
                    • Гладкая. Ее изготовление обходится достаточно дешево, гладкую арматуру применяют при возведении стен либо для стяжки пола. Ее нельзя использовать для железобетонных фундаментов. <br><br>
                    • Ребристая. Площадь поверхности такой арматуры больше, за счет чего увеличивается контакт с бетоном. Поскольку такая арматура прочная и устойчива к нагрузкам, ее можно применять при создании железобетонных оснований. <br><br>
                    • С серповидным профилем. Такая арматура обеспечивает наилучшее сцепление с бетонной смесью, поэтому с ее помощью обустраивают фундамент с повышенной прочностью для коттеджей. <br><br>
                    • С комбинированным профилем. Совмещает лучшие качества всех видов арматуры, ее обычно применяют при создании железобетонных оснований.</div>
            </div>
        </div>
    </div>
</section>

<section class="porch">
    <div class="container-fluid">
        <div class="row porch-wrapper">

            <div class="col-xl-4 col-12 wheeler-videos">
                <div class="porch-videos__title f-35 fw-bold">Крыльцо <a id="porch"></a></div>
                <div class="porch-videos__description f-17">Вы можете заказать в нашей компании крыльцо из металла. Мы поставляем изделия как частным заказчикам для частного строительства, так и крупным застройщикам.

                    Крыльцо из металла придаст эстетичный внешний вид фасадной части здания. Наши специалисты разработают конструкцию по индивидуальному заказу, чтобы крыльцо из металла соответствовало вашим требованиям. Благодаря высоким эксплуатационным характеристикам, металлическое крыльцо прослужит в течение длительного времени, сохранит привлекательный внешний вид.
                </div>
            </div>

            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">
                <div id="carouselPorchIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPorchIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPorchIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPorchIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-fluid" src="/images/porch/porch-1.webp" alt="wheeler">
                            </div>
                        </div>
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <iframe src="https://www.youtube.com/embed/vgiL11b5AHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <iframe src="https://www.youtube.com/embed/vgiL11b5AHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselPorchIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselPorchIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row porch-wrapper__photos">

            <div class="col-xl-4 col-12 porch-photos">
                <div class="porch-photos__description f-17">Обратившись в нашу компанию, вы сможете узнать цена на продукцию, подобрать подходящий вариант крыльца из металла, которое идеально подойдет для вас. Итоговая стоимость изделия зависит от сложности работы, габаритов крыльца, наличия или отсутствия декоративных элементов.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselPorchPhotoIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPorchPhotoIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPorchPhotoIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPorchPhotoIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-1.webp" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-2.webp" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-3.jpg" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-4.jpg" alt="wheeler"></div>
                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-5.jpg" alt="wheeler"></div>
<!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-6.webp" alt="wheeler"></div>-->
                            </div>
                        </div>
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-7.webp" alt="wheeler"></div>-->
<!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-8.webp" alt="wheeler"></div>-->
<!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-9.webp" alt="wheeler"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-10.webp" alt="wheeler"></div>-->
<!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-11.webp" alt="wheeler"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <button class="custom-control-prev" type="button" data-bs-target="#carouselPorchPhotoIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="custom-control-next" type="button" data-bs-target="#carouselPorchPhotoIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/porch/porch-1.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/porch/porch-2.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/porch/porch-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/porch/porch-4.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>

