<section class="anchors">
    <div class="container-fluid">

        <div class="row anchors-wrapper">

            <div class="col-xl-12 col-12 gates-videos">
                <div class="anchors-videos__title f-35 fw-bold">
                    Анкерные группы
                    <a id="anchors"></a>
                </div>
                <div class="anchors-videos__description f-17">Анкерная группа — представляет собой крепежные элементы из металла. Они применяются для фиксации строительных конструкций к несущей основе.

                    К анкерной группе относятся: крепежные изделия, анкерные болты, а также связки с жесткой фиксацией. Соединение элементов анкерной группы осуществляется разными способами. Наиболее популярный метод - сварная конструкция, состоящая из металлических полос, уголков или арматуры. Также можно сделать сварное рамное сооружение либо совместить оба метода.

                    Анкерная группа применяется для:

                    ускорения строительных работ;
                    повышения прочности несущей основы;
                    обеспечения надежности крепления строительной конструкции;
                    упрощения обустройства фундамента. </div>
            </div>

<!--            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">-->
<!--                <div id="carouselAnchorsIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselAnchorsIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselAnchorsIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="row anchors-wrapper__photos">

            <div class="col-xl-4 col-12 railing-photos">
                <div class="anchors-photos__description f-17">Какими характеристиками обладают анкерные группы? Прежде всего это повышенная прочность, точные геометрические параметры, что позволяет добиться ровного расстояния между концами разных шпилек.

                    Фундаментный болт – это крепежная деталь, визуально напоминающая прут. Он фиксируется в фундаменте, удерживая конструкцию. На одном конце анкерного болта расположена резьба, чтобы его можно было прикреплять к разнообразным строительным конструкциям и оборудованию.

                    Анкерные болты применяются, чтобы сделать крепление основания, а также металлоконструкций. Важно чтобы они были высокого качества, поскольку от этого зависит надежность всей конструкции.

                    Крепежные элементы – обязательный атрибут современного строительства. Они производятся по традиционной технологии, поэтому удается изготовить их в большом объеме в сжатые сроки вне зависимости от конфигурации.

                    Несмотря на то, что крепежные элементы обладают небольшими габаритами, они обеспечивают повышенную надежность и жесткость массивных конструкций.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 pe-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselAnchorsTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchor-1.jpg" alt="anchors"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid object-contain" src="/images/anchors/anchor-2.jpg" alt="anchors"></div>
                            </div>
                        </div>
                        <!--                        <div class="carousel-item">-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="carousel-item">-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/anchors/anchors.png" alt="anchors"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselAnchorsTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span>
                    <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselAnchorsTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/anchors/anchors.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/anchors/anchor-1.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/anchors/anchor-2.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>