<!--<section class="balcony-railing">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->

<!--            <div class="col-12 balcony-railing-title f-35 fw-bold">Балконные ограждения</div>-->

<!--            <div class="col-12 balcony-railing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>-->

<!--            <div class="col-12 p-0 full-carousel-wrapper">-->
<!--                <div id="carouselBalconyRailingIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselBalconyRailingIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselBalconyRailingIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row balcony-railing-photos">-->

<!--            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">-->
<!--                <div id="carouselBalconyRailingTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/balcony-railing/balcony-railing.png" alt="balcony-railing"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselBalconyRailingTripleIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselBalconyRailingTripleIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="horizontal-scroll d-sm-none d-flex">-->
<!--                <div class="horizontal-scroll-box me-2">-->
<!--                    <img src="/images/wheeler/wheeler-img.png" alt="wheeler">-->
<!--                </div>-->
<!--                <div class="horizontal-scroll-box me-2">-->
<!--                    <img src="/images/wheeler/wheeler-img.png" alt="wheeler">-->
<!--                </div>-->
<!--                <div class="horizontal-scroll-box">-->
<!--                    <img src="/images/wheeler/wheeler-img.png" alt="wheeler">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-xl-4 col-12">-->
<!--                <div class="balcony-railing-photos__description f-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->