<section class="french-balconies">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 french-balconies-title f-35 fw-bold">Французские балкончики <a id="frenchBalconies"></a></div>

            <div class="col-12 french-balconies-description">Французский балкон — это тип балкона, у которого нет собственной балконной площадки, ограждение устанавливается непосредственно в проём с наружной стороны, прямо перед дверью. Возможен также вариант с площадкой, но достаточно узкой.

                С помощью такой конструкции удается придать фасаду здания оригинальный дизайн.
            </div>
<!--            <div class="col-12 p-0 full-carousel-wrapper">-->
<!--                <div id="carouselFrenchBalconiesIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselFrenchBalconiesIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselFrenchBalconiesIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="row french-balconies-photos">

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselFrenchBalconiesTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-1.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-2.webp" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-3.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-4.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-5.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-6.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-7.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-8.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-9.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-10.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-11.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-12.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-13.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-14.jpg" alt="french-balconies"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/french-balconies/french-balconies-15.jpg" alt="french-balconies"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselFrenchBalconiesTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>

            <div class="horizontal-scroll d-sm-none d-flex">
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-1.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-2.webp" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-3.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-4.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-5.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-6.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-7.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-8.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-9.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-10.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-11.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-12.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-13.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/french-balconies/french-balconies-14.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box">
                    <img src="/images/french-balconies/french-balconies-15.jpg" alt="wheeler">
                </div>
            </div>

            <div class="col-xl-4 col-12">
                <div class="french-balconies-photos__description f-17">В настоящее время французские балконы украшают как многоквартирные дома, так и загородные коттеджи.

                    Французские балконы улучшают естественную освещенность помещений, придают стильный внешний вид строению, обеспечивают хороший обзор.

                    Наша команда разрабатывает разнообразные проекты, как стандартные так и индивидуальные, с учетом ваши требований.  Мы готовы предложить нестандартные дизайнерские решения.

                    Мы предлагаем кованые и сварные конструкции для  французского балкона.  Металлические ограждения прочные и надежные, изделия  обработаны полимерным покрытием.</div>
            </div>
        </div>
    </div>
</section>