<section class="gates">
    <div class="container-fluid">

        <div class="row gates-wrapper">

            <div class="col-xl-12 col-12 gates-videos">
                <div class="gates-videos__title f-35 fw-bold">
                    Заборы и калитки
                    (уличное ограждение)
                    <a id="gates"></a>
                </div>
                <div class="gates-videos__description f-17">Металлическое барьерное уличное ограждение (забор)


                    Металлическое уличное ограждение выполняет оградительную функцию, огораживает потенциально опасный участок.


                    Металлоконструкции используются там, где нужно обеспечить безопасность при передвижении людей.
                    В их производстве применяют черную или высоколегированную сталь.


                    Уличные ограждения из металла имеют более высокую устойчивость к негативному воздействию окружающей среды.</div>
            </div>

<!--            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">-->
<!--                <div id="carouselGatesIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselGatesIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselGatesIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row gates-wrapper__photos pe-0">

            <div class="col-xl-4 col-12 railing-photos">
                <div class="gates-photos__description f-17">При изготовлении уличные ограждения из черного металла покрываются  специальным полимерным составом. Защищенные от коррозии они служат долго, обладают повышенной прочностью и надежностью.


                    Наша компания изготавливает стандартные ограждения, а также  реализует индивидуальные проекты заказчиков независимо от масштабности и сложности требуемых работ.


                    Наши специалисты оперативно проконсультируют по всем вопросам и помогут сделать оптимальный выбор.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-0 d-sm-flex d-none">
                <div id="carouselGatesTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-1.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-2.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-3.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-4.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-5.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-6.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-7.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-8.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-9.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-10.jpg" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-11.png" alt="gates"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-12.jpg" alt="gates"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/gates/gates-13.jpg" alt="gates"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselGatesTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span>
                    <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselGatesTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-1.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-2.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-4.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-5.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-6.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-7.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-8.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-9.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-10.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-11.png" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/gates/gates-12.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/gates/gates-13.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>