<section class="pits">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 pits-title f-35 fw-bold">Приямки <a id="pits"></a></div>

            <div class="col-12 pits-description">Наша компания занимается изготовлением козырьков над приямками. Мы работаем в сжатые сроки, изделия производятся из высококачественных материалов.


                Приямок представляет собой углубление рядом с фундаментом либо цоколем здания, необходимое для того, чтобы солнечный свет попадал в подвальное помещение. Козырек над приямком защищает нижнее помещение от попадания дождя, снега, мусора. Качественно выполненный защитно-декоративный козырек защищает окна , а также от муханических повреждений.</div>

<!--            <div class="col-12 p-0 fll-carousel-wrapper">-->
<!--                <div id="carouselPitsIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits">-->
<!--                            </div>-->
<!--                            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                        <div class="carousel-item">&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits">&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                        <div class="carousel-item">&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits">&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                                            <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselPitsIndicators"  data-bs-slide="prev">-->
<!--                                                <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                                                <span class="visually-hidden">Предыдущий</span>-->
<!--                                            </button>-->
<!--                                            <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselPitsIndicators"  data-bs-slide="next">-->
<!--                                                <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                                                <span class="visually-hidden">Следующий</span>-->
<!--                                            </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="row pits-photos">

                <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                    <div id="carouselPitsTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row h-100">
                                    <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-1.jpg" alt="pits"></div>
                                    <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-2.webp" alt="pits"></div>
                                    <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-3.webp" alt="pits"></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row h-100">
                                    <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-4.webp" alt="pits"></div>
                                    <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits-5.webp" alt="pits"></div>
                                    <!--                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
                                </div>
                            </div>
                            <!--                        <div class="carousel-item">-->
                            <!--                            <div class="row">-->
                            <!--                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
                            <!--                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
                            <!--                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/pits/pits.png" alt="pits"></div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                        </div>
                        <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselPitsTripleIndicators"  data-bs-slide="prev">
                            <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <span class="counter"></span>
                        <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselPitsTripleIndicators"  data-bs-slide="next">
                            <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>

                <div class="horizontal-scroll d-sm-none d-flex">
                    <div class="horizontal-scroll-box me-2">
                        <img src="/images/pits/pits-1.jpg" alt="wheeler">
                    </div>
                    <div class="horizontal-scroll-box me-2">
                        <img src="/images/pits/pits-2.webp" alt="wheeler">
                    </div>
                    <div class="horizontal-scroll-box me-2">
                        <img src="/images/pits/pits-3.webp" alt="wheeler">
                    </div>
                    <div class="horizontal-scroll-box me-2">
                        <img src="/images/pits/pits-4.webp" alt="wheeler">
                    </div>
                    <div class="horizontal-scroll-box">
                        <img src="/images/pits/pits-5.webp" alt="wheeler">
                    </div>
                </div>

                <div class="col-xl-4 col-12">
                    <div class="pits-photos__description f-17">Защитно-декоративные козырьки необходимы для того, чтобы накрывать приямок подвальных помещений. Габариты и основные характеристики конструкции выбрать как при обустройстве приямка, так и непосредственно на готовом объекте.


                        Каркас козырька может быть изготовлен из стали, а также покрыт защитным составом, препятствующим образованию ржавчины. При необходимости можно выбрать и согласовать цвет декоративного козырька.


                        Крепятся козырьки приямка на бетонные элементы строения, на стены, к ограждению приямка либо комбинированным методом, который используется наиболее часто. Такое решение позволяет сделать конструкцию более устойчивой.



                        Наша компания поставляет продукцию как для индивидуальных застройщиков, так и для объектов промышленного строительства.</div>
                </div>
            </div>
        </div>
</section>