<section class="porch">
    <div class="container-fluid">
        <div class="row porch-wrapper">

            <div class="col-xl-12 col-12 wheeler-videos">
                <div class="porch-videos__title f-35 fw-bold">Крыльцо <a id="porch"></a></div>
                <div class="porch-videos__description f-17">Вы можете заказать в нашей компании крыльцо из металла. Мы поставляем изделия как частным заказчикам для частного строительства, так и крупным застройщикам.

                    Крыльцо из металла придаст эстетичный внешний вид фасадной части здания. Наши специалисты разработают конструкцию по индивидуальному заказу, чтобы крыльцо из металла соответствовало вашим требованиям. Благодаря высоким эксплуатационным характеристикам, металлическое крыльцо прослужит в течение длительного времени, сохранит привлекательный внешний вид.
                </div>
            </div>

<!--            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">-->
<!--                <div id="carouselPorchIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/porch/porch-1.webp" alt="wheeler">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        <div class="carousel-item">&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <iframe src="https://www.youtube.com/embed/vgiL11b5AHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&ndash;&gt;-->
<!--                        &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        <div class="carousel-item">&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <iframe src="https://www.youtube.com/embed/vgiL11b5AHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&ndash;&gt;-->
<!--                        &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselPorchIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselPorchIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="row porch-wrapper__photos">

            <div class="col-xl-4 col-12 porch-photos">
                <div class="porch-photos__description f-17">Обратившись в нашу компанию, вы сможете узнать цена на продукцию, подобрать подходящий вариант крыльца из металла, которое идеально подойдет для вас. Итоговая стоимость изделия зависит от сложности работы, габаритов крыльца, наличия или отсутствия декоративных элементов.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 pe-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselPorchPhotoIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-1.webp" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-2.webp" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-3.jpg" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-4.jpg" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/porch/porch-5.jpg" alt="wheeler"></div>
                                <!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-6.webp" alt="wheeler"></div>-->
                            </div>
                        </div>
                        <!--                        <div class="carousel-item">-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-7.webp" alt="wheeler"></div>-->
                        <!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-8.webp" alt="wheeler"></div>-->
                        <!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-9.webp" alt="wheeler"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="carousel-item">-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-10.webp" alt="wheeler"></div>-->
                        <!--                                <div class="col-4 p-0 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-11.webp" alt="wheeler"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselPorchPhotoIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span>
                    <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselPorchPhotoIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/porch/porch-1.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/porch/porch-2.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/porch/porch-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/porch/porch-4.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>