<section class="railing">
    <div class="container-fluid">

        <div class="row railing-wrapper">

            <div class="col-xl-12 col-12 railing-videos">
                <div class="railing-videos__title f-35 fw-bold">Перильное ограждение <a id="railing"></a></div>
                <div class="railing-videos__description f-17">
                    Наша компания предлагает надежные и эстетичные лестничные ограждения собственного производства.

                    Мы изготавливаем лестничные ограждения для загородных домов, жилых комплексов, объектов муниципальной и коммерческой недвижимости.

                    Мы   предлагаем стандартные  проекты, а также  разрабатываем  индивидуальные решения  с учетом требований заказчика.
                </div>
            </div>

<!--            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">-->
<!--                <div id="carouselRailingIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselRailingIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselRailingIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row railing-wrapper__photos pe-0">

            <div class="col-xl-4 col-12 railing-photos">
                <div class="railing-photos__description f-17">
                    Мы изготавливаем лестничные ограждения для следующих объектов: офисные центры, магазины, коттеджные поселки, школы, многоквартирные дома, производственные предприятия, государственные учреждения.

                    Мы производим конструкции любого формата и объема, с необходимыми техническими характеристиками.<br><br>

                    Наши преимущества <br>

                    1. Широкий выбор ограждающих конструкций. <br>

                    2. Опыт и профессионализм. <br>

                    3. Доступная цена. <br>

                    4. Доставка в любой город.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-0 d-sm-flex d-none">
                <div id="carouselRailingTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-1.jpeg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-2.webp" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-3.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-4.jpg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-5.jpg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-6.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-7.jpg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-8.jpg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-9.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-10.jpg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-11.jpg" alt="railing"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-12.jpg" alt="railing"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/railing/railing-13.jpg" alt="railing"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselRailingTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span>
                    <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselRailingTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-1.jpeg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-2.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-4.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-5.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-6.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-7.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-8.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-9.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-10.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-11.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/railing/railing-12.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box">
                <img src="/images/railing/railing-13.jpg" alt="wheeler">
            </div>
        </div>
    </div>
</section>