<section class="rebar">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 rebar-title f-35 fw-bold">Изделия из арматуры <a id="rebar"></a></div>

            <div class="col-12 rebar-description">Арматура представляет собой соединенные друг с другом элементы. В сооружениях из железобетона арматура воспринимает на себя напряжение на растяжение. Также арматуру применяют, чтобы усилить бетонную конструкцию. Это становится возможным благодаря сцеплению их по поверхности контакта.

                Чтобы конструкция получилась максимально прочной и надежной, важно правильно подобрать вид прутьев арматуры, определиться с диаметром, знать, как крепить элементы, учитывать как форму и сечение арматуры, вид ее поверхности, а также прочность и марку бетона, величину его усадки. Особенности стальной арматуры.
                Прутья из стали являются наиболее распространенными, их производят из сплава железа и углерода. Технические характеристики прутьев определяются пропорциями данных материалов, а также тем, какие присадки добавлены при изготовлении. Также отличается и поверхность стальных прутьев: она может быть гладкой либо ребристой. Какие достоинства есть у стали? Она прочная, надежная, не деформируется под нагрузкой. Однако у этого материала есть минус: стальная арматура со временем ржавеет.</div>

<!--            <div class="col-12 p-0 full-carousel-wrapper">-->
<!--                <div id="carouselRebarIndicators" class="carousel slide full-carousel" data-bs-ride="carousel" data-bs-interval="false">-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="full-carousel-item embed-responsive embed-responsive-16by9">-->
<!--                                <img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselRebarIndicators"  data-bs-slide="prev">-->
<!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Предыдущий</span>-->
<!--                    </button>-->
<!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselRebarIndicators"  data-bs-slide="next">-->
<!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
<!--                        <span class="visually-hidden">Следующий</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="row rebar-photos">

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 ps-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselRebarTripleIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-1.jpg" alt="rebar"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-2.jpg" alt="rebar"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-3.jpg" alt="rebar"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar-4.jpeg" alt="rebar"></div>
                                <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
                                <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
                            </div>
                        </div>
                        <!--                        <div class="carousel-item">-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
                        <!--                                <div class="col-4 p-xl-0 d-flex justify-content-center"><img class="img-fluid" src="/images/rebar/rebar.png" alt="rebar"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselRebarTripleIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span>
                    <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselRebarTripleIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>

            <div class="horizontal-scroll d-sm-none d-flex">
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-1.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-2.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-3.jpg" alt="wheeler">
                </div>
                <div class="horizontal-scroll-box me-2">
                    <img src="/images/rebar/rebar-4.jpeg" alt="wheeler">
                </div>
            </div>

            <div class="col-xl-4 col-12">
                <div class="rebar-photos__description f-17">
                    В зависимости от типа поверхности, наибольшей популярностью обладают следующие виды арматуры: <br><br>
                    • Гладкая. Ее изготовление обходится достаточно дешево, гладкую арматуру применяют при возведении стен либо для стяжки пола. Ее нельзя использовать для железобетонных фундаментов. <br><br>
                    • Ребристая. Площадь поверхности такой арматуры больше, за счет чего увеличивается контакт с бетоном. Поскольку такая арматура прочная и устойчива к нагрузкам, ее можно применять при создании железобетонных оснований. <br><br>
                    • С серповидным профилем. Такая арматура обеспечивает наилучшее сцепление с бетонной смесью, поэтому с ее помощью обустраивают фундамент с повышенной прочностью для коттеджей. <br><br>
                    • С комбинированным профилем. Совмещает лучшие качества всех видов арматуры, ее обычно применяют при создании железобетонных оснований.</div>
            </div>
        </div>
    </div>
</section>