<section class="wheeler">
    <div class="container-fluid">
        <div class="row wheeler-wrapper">

            <div class="col-xl-12 col-12 wheeler-videos">
                <div class="wheeler-videos__title f-35 fw-bold">Колесоотбойники <a id="wheeler"></a></div>
                <div class="wheeler-videos__description f-17">Колесоотбойники металлические для защиты зданий и различных сооружений, парковок, паркингов, стен, а также колонн и столбов  от случайного наезда автотранспорта.
                </div>
            </div>

            <!--            <div class="col-xl-8 col-12 single-carousel-wrapper pe-0 ps-0 ps-xl-2">-->
            <!--                <div id="carouselWheelerIndicators" class="carousel slide single-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">-->
            <!--                    <div class="carousel-inner">-->
            <!--                        <div class="carousel-item active">-->
            <!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
            <!--                                <img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler">-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="carousel-item">-->
            <!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
            <!--                                <img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler">-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="carousel-item">-->
            <!--                            <div class="single-carousel-item embed-responsive embed-responsive-16by9">-->
            <!--                                <img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler">-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselWheelerIndicators"  data-bs-slide="prev">-->
            <!--                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">-->
            <!--                        <span class="visually-hidden">Предыдущий</span>-->
            <!--                    </button>-->
            <!--                    <span class="counter"></span><button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselWheelerIndicators"  data-bs-slide="next">-->
            <!--                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">-->
            <!--                        <span class="visually-hidden">Следующий</span>-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

        <div class="row wheeler-wrapper__photos">

            <div class="col-xl-4 col-12 wheeler-photos">
                <div class="wheeler-photos__description f-17">Наша компания производит колесоотбойники из труб различной длины и конфигурации, как  стандартных размеров, так и сложных форм по запросу заказчиков.
                    Колесоотбойники покрываются  качественными  красками в выбранный цвет.
                    Мы изготовим изделия по любым размерам и требованиям заказчика.</div>
            </div>

            <div class="col-xl-8 col-12 triple-carousel-wrapper pe-0 pe-xl-2 ps-0 d-sm-flex d-none">
                <div id="carouselWheelerPhotoIndicators" class="carousel slide triple-carousel" data-bs-ride="carousel" data-bs-interval="false" data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-1.jpg" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-2.jpg" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-3.jpg" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-4.jpg" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-5.webp" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-6.webp" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-7.webp" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-8.webp" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-9.webp" alt="wheeler"></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-10.webp" alt="wheeler"></div>
                                <div class="col-4 px-2 d-flex justify-content-center"><img class="img-fluid" src="/images/wheeler/wheeler-11.webp" alt="wheeler"></div>
                            </div>
                        </div>
                    </div>
                    <button class="custom-control-prev paginate-left" type="button" data-bs-target="#carouselWheelerPhotoIndicators"  data-bs-slide="prev">
                        <img src="/images/icons/left-arrow.svg" class="custom-control-prev-icon" aria-hidden="true">
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <span class="counter"></span>
                    <button class="custom-control-next paginate-right" type="button" data-bs-target="#carouselWheelerPhotoIndicators"  data-bs-slide="next">
                        <img src="/images/icons/right-arrow.svg" class="custom-control-next-icon" aria-hidden="true">
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="horizontal-scroll d-sm-none d-flex">
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-1.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-2.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-3.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-4.jpg" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-5.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-6.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-7.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-8.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-9.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-10.webp" alt="wheeler">
            </div>
            <div class="horizontal-scroll-box me-2">
                <img src="/images/wheeler/wheeler-11.webp" alt="wheeler">
            </div>
        </div>
    </div>
</section>