.wheeler
    &-wrapper
        height: 100%
    &-videos
        height: 100%
        background: #DDE0E2
        &__title
            margin-top: 32px
        &__description
            margin-top: 20px
            line-height: 145%
            padding-right: 50px
            padding-bottom: 20px
    .wheeler-wrapper__photos
        margin-top: 100px
        .wheeler-photos
            &__description
                line-height: 145%
                padding-right: 50px
            &-carousel
                height: auto
                .carousel-inner
                    height: 100%
                    .carousel-item
                        height: 100%
                        &__video
                            height: 100%

